.action-div {
    background-color: #f5f1e7;
    box-shadow: 0px 5px 10px #55555555;
    border-radius: 10px;
    height: 60px;
}

.goto-link-text {
    color: #6c757d;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.1em;
    text-decoration: none;
  }